body {
  margin: 0;
  /* display: flex; */
  /* background-color: #212121; */
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
  display: table;
}

body {
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}

.text-center{
  text-align: center;
  color: rgb(73, 81, 82);
  font-weight: 300;
}

.navbar {
  width: 95%; 
  padding: 10px 0px 5px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  background-color: #2b9da1;
  /* border-radius: 15px; */
  z-index: 1;
}

.navbar .items {
    display: flex;
    flex-direction: row;
}


.navbar__title {
  margin-right: auto;
  font-size: 200%;
  /* filter: drop-shadow(2px 4px 0px rgba(3, 138, 216, 0.877)); */
  z-index: 2;
  color: white;
  font-weight: 900;
}
.navbar__item {
  padding: 16px 16px;
  display: flex;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.75rem;
  flex-direction: row;
  cursor: pointer;
  vertical-align: middle;
}

a {
  color: white;
  text-decoration: none

}
.navbar__item :hover{
  color: navy;
  text-decoration: overline
}

.main_section {
  min-height: 100vh;
  display: table-row;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.inner_section {
  min-height: 50vh;
  min-width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dp__container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding : 20px;
}
.search_form{
  height: 100%;

}
.heading {
  padding: 5px;
  font-size: 20px;
  text-align: left;
  font-weight: 1000;
  color: rgb(10, 126, 126);
  border-radius: 5px;
} 
fieldset {
  margin: 0;
  background-color: #ffffff00;
  border: 1.5px solid #08bcc2;
  padding: 3rem;
  z-index: 1;
  border-radius: 8px;
  box-shadow: 4px 4px 20px rgba(3, 255, 255, 0.171);
}

button {
  background-color: rgb(9, 168, 173);
  border-radius: 20%;
  border-color: #00000000;
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: 10px;
}

input {
  border-radius: 5px;
  background: transparent;
  border: 2px solid rgb(9, 168, 173);
  outline: 0px;
  color: rgb(182, 182, 182);
  padding: 0 0 0 2rem;
  transition: all 0.2s;
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}
.center {
  justify-content: center;
}

.between {
  justify-content: space-between;
}

.around {
  justify-content: space-around;
}

.evenly {
  justify-content: space-evenly;
}